<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider"
				invariant="System.Data.SQLite"
				description=".Net Framework Data Provider for SQLite"
				type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="${SolutionName}Db" connectionString="Data Source=${SolutionName}.s3db;Version=3;" providerName="System.Data.SQLite"/>
	</connectionStrings>
	
	<runtime>
  		<loadFromRemoteSources enabled="true" />
 	</runtime>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

</configuration>