<Modules>
	<Module Description="Ticket Management" Order="400">PrismApplication.Modules.Tickets</Module>
	<Module Description="Main functionality" Order="100">PrismApplication.Modules.Main</Module>
	<Module Description="Contact Management" Order="300">PrismApplication.Modules.Contacts</Module>
	<Module Description="Account Management" Order="200">PrismApplication.Modules.Accounts</Module>
</Modules>