<Modules>
	<Module Description="Main functionality" Order="100">${SolutionName}.Modules.Main</Module>
	<Module Description="Account Management" Order="200">${SolutionName}.Modules.Accounts</Module>
	<Module Description="Contact Management" Order="300">${SolutionName}.Modules.Contacts</Module>
</Modules>