<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="unity"
			type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity>

		<typeAliases>

			<typeAlias
				alias="Singleton"
				type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			
			<typeAlias
				alias="IDataService"
				type="${SolutionName}.Base.Interfaces.Services.IDataService, ${SolutionName}.Base" />
			<typeAlias 
				alias="DataService"
				type="${SolutionName}.Base.Data.DbService, ${SolutionName}.Base.Data" />

			<typeAlias
				alias="IBusinessService"
				type="${SolutionName}.Base.Interfaces.Services.IBusinessService, ${SolutionName}.Base" />
			<typeAlias 
				alias="BusinessService"
				type="${SolutionName}.Base.Business.Service, ${SolutionName}.Base.Business" />

			<typeAlias
				alias="IAppResourceService"
				type="${SolutionName}.Base.Interfaces.Services.IAppResourceService, ${SolutionName}.Base" />
			<typeAlias 
				alias="AppResourceService"
				type="${SolutionName}.Base.Resource.Service, ${SolutionName}.Base.Resource" />
		
			<typeAlias
				alias="IMessageBoxService"
				type="${SolutionName}.Base.Interfaces.Services.IMessageBoxService, ${SolutionName}.Base" />
			<typeAlias 
				alias="MessageBoxService"
				type="${SolutionName}.Base.Services.MessageBoxService, ${SolutionName}.Base" />

		</typeAliases>

		<containers>
			<container>
				<types>

					<type 
						type="IAppResourceService" 
						mapTo="AppResourceService">
						<lifetime type="Singleton" />
					</type>

					<type 
						type="IMessageBoxService" 
						mapTo="MessageBoxService">
						<lifetime type="Singleton" />
					</type>

					<type
						type="IDataService" 
						mapTo="DataService">
						<lifetime type="Singleton" />
					</type>

					<type 
						type="IBusinessService" 
						mapTo="BusinessService">
						<lifetime type="Singleton" />
					</type>

				</types>
			</container>
		</containers>

	</unity>

</configuration>