<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="unity"
			type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity>

		<typeAliases>

			<typeAlias
				alias="Singleton"
				type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			
			<typeAlias
				alias="IDataService"
				type="${SolutionName}.Base.Interfaces.Services.IDataService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="DataService"
				type="${SolutionName}.Base.Data.DbService, ${SolutionName}.Base.Data" />

			<typeAlias
				alias="IBusinessService"
				type="${SolutionName}.Base.Interfaces.Services.IBusinessService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="BusinessService"
				type="${SolutionName}.Base.Business.BusinessService, ${SolutionName}.Base.Business" />

			<typeAlias
				alias="IAppResourceService"
				type="${SolutionName}.Base.Interfaces.Services.IAppResourceService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="AppResourceService"
				type="${SolutionName}.Base.Resource.AppResourceService, ${SolutionName}.Base.Resource" />
		
			<typeAlias
				alias="IGlobalInfoService"
				type="${SolutionName}.Base.Interfaces.Services.IGlobalInfoService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="GlobalInfoService"
				type="${SolutionName}.Base.Services.GlobalInfoService, ${SolutionName}.Base.Services" />

			<typeAlias
				alias="IMessageBoxService"
				type="${SolutionName}.Base.Interfaces.Services.IMessageBoxService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="MessageBoxService"
				type="${SolutionName}.Base.Services.MessageBoxService, ${SolutionName}.Base.Services" />
				
			<typeAlias
				alias="IAuthenticationService"
				type="${SolutionName}.Base.Interfaces.Services.IAuthenticationService, ${SolutionName}.Base.Interfaces" />
			<typeAlias 
				alias="AuthenticationService"
				type="${SolutionName}.Base.Services.Authentication.AuthenticationService, ${SolutionName}.Base.Services.Authentication" />

		</typeAliases>

		<containers>
			<container>
				<types>

					<type 
						type="IAppResourceService" 
						mapTo="AppResourceService">
						<lifetime type="Singleton" />
					</type>

					<type 
						type="IMessageBoxService" 
						mapTo="MessageBoxService">
						<lifetime type="Singleton" />
					</type>
					
					<type
						type="IGlobalInfoService"
						mapTo="GlobalInfoService">
						<lifetime type="Singleton" />
					</type>

					<type 
						type="IAuthenticationService" 
						mapTo="AuthenticationService">
						<lifetime type="Singleton" />
					</type>

					<type
						type="IDataService" 
						mapTo="DataService">
						<lifetime type="Singleton" />
					</type>

					<type 
						type="IBusinessService" 
						mapTo="BusinessService">
						<lifetime type="Singleton" />
					</type>

				</types>
			</container>
		</containers>

	</unity>

</configuration>